
@media (max-width: 900px){
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 250px;
    }

    #page-create-point form{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #page-create-point form h1{
        text-align: center;
    }

    #page-create-point form fieldset{
        width: 100%;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }
}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home {
        background-position-y: 100px;
    }
}

@media (max-width: 580px){
    #page-create-point .items-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px){
    #page-home main h1 {
        font-size: 36px;
    }

    #page-home main p {
        font-size: 18px;
        line-height: 30px;
    }

    #modal .content {
        Width: 300px;
    }
}

@media (max-width: 900px) and (max-height:600px){
    #page-home header {
        flex-direction: column;
    }
    #page-home header a{
        position: initial;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        transform: none;
    }
}

@media (max-width: 390px){

    #page-create-point .items-grid{
        grid-template-columns: 1fr;
    }

    #page-create-point form legend{
        flex-direction: column;
    }

    #page-create-point form legend span{
        margin-top: 16px;
    }
}